<h1>Welcome to my page, <%= @user.email %></h1>
<p>
  You have successfully signed up to my page
</p>

<div>
    <p> To login to the site, just follow this link: <%= @url %></p>
</div>

<p>Thanks for joining and have a great day!</p>
