<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %> <br>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

  <div>
    <%= button_to 'Delete Comment', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

</div>
