<nav>
      <ul>
        <li> <%= link_to 'Rails App', root_path %></li>
        <li> <%= link_to 'Articles', articles_path %></li>
        <li> <%= link_to 'New Article', articles_new_path %></li>
      </ul>
</nav>  